.mobile_category a {
  width: 64px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mobile_category a.active {
  background: red !important;
  position: relative;
}
